[submodule "libgraphene/libs/twofloat"]
	path = libgraphene/libs/twofloat
	url = https://github.com/esa-tu-darmstadt/twofloat.git
[submodule "libgraphene/libs/ipu-thread-sync"]
	path = libgraphene/libs/ipu-thread-sync
	url = https://github.com/timnoack/ipu-thread-sync.git
